<aside id="sidebar_main">

    <div class="sidebar_main_header">
        <div class="sidebar_logo">
            <a href="index.html" class="sSidebar_hide sidebar_logo_large">
                <img class="logo_regular" src="assets/img/logo_main.png" alt="" height="15" width="71"/>
                <img class="logo_light" src="assets/img/logo_main_white.png" alt="" height="15" width="71"/>
            </a>
            <a href="index.html" class="sSidebar_show sidebar_logo_small">
                <img class="logo_regular" src="assets/img/logo_main_small.png" alt="" height="32" width="32"/>
                <img class="logo_light" src="assets/img/logo_main_small_light.png" alt="" height="32" width="32"/>
            </a>
        </div>
        <div class="sidebar_actions">
            <select id="lang_switcher" name="lang_switcher">
                <option value="gb" selected>English</option>
            </select>
        </div>
    </div>

    <div class="menu_section">
        <ul>
            <li title="Dashboard">
                <a href="index.html">
                    <span class="menu_icon"><i class="material-icons">&#xE871;</i></span>
                    <span class="menu_title">Ana Sayfa</span>
                </a>

            </li>
            <li title="Mailbox">
                <a href="page_mailbox.html">
                    <span class="menu_icon"><i class="material-icons">&#xE87C;</i></span>
                    <span class="menu_title">Rehber</span>
                </a>

            </li>
            <li title="Invoices">
                <a href="page_invoices.html">
                    <span class="menu_icon"><i class="material-icons">&#xE158;</i></span>
                    <span class="menu_title">Mesaj</span>
                </a>

            </li>
            <li title="Invoices">
                <a href="page_invoices.html">
                    <span class="menu_icon"><i class="material-icons">phone</i></span>
                    <span class="menu_title">Telefon</span>
                </a>

            </li>

        </ul>
    </div>
</aside><!-- main sidebar end -->
